@mixin card-structure {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto;
    align-items: center;
}

.skill-card {
    display: grid;
    grid-template-columns: 1/-1;
    grid-template-rows: 1/-1;
    transition: 0.3s all ease;
    perspective: 150rem;
    -moz-perspective: 150rem;
    color: $black;

    .card-front, .card-back {
        backface-visibility: hidden;
        transition: 0.5s all ease;
    }
    & > * {
        grid-row: 1/-1;
        grid-column: 1/-1;
    }
    .card-front {
        height: 300px;
        width: 300px;
        @include card-style();
        @include card-structure();
        span {
            grid-row: 1/2;
            place-self: center;
        }
        h2 {
            grid-row: 2/3;
            text-align: center;
        }
        p {
            grid-row: 3/4;
        }
    }
    
    .card-back {
        height: 300px;
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        @include card-style();
        background-color: $blue;
        color: $white;
        ol {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
        a {
            color: $white;
            padding: 3px;
            transition: 0.2s all ease;
            &:hover {
                background-color: $white;
                color: $blue;
                border-radius: 5px;
            }
        }
    }
    &:hover {
        cursor: pointer;
        transform: scale(0.98);
    }
}

@media only screen and (max-width: 1000px) {
    .skill-card {
        &:hover {
            transform: scale(1);
        }
    }
}