// Nav Component
.nav-component {
    position: absolute;
    transition: 0.5s all ease;
    z-index: 999;

    .toggleDiv {
        position: absolute;
        transition: 0.3s all ease;
        width: 80px;
        height: 80px;
        font-size: 2.5em;
        background-color: $blue;
        border-radius: 0 0 50% 0;
        display: grid;
        align-content: end;
        justify-content: center;

        i {
            padding-bottom: 10px;
        }
        
        &:hover {
            cursor: pointer;
            background-color: $light-green;
            i {
                color: $white;
            }
        }
    }

    .link-wrapper {
        transition: 0.5s all ease;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 20px;
        width: 100px;

        background-color: $blue;
        padding: 10px;
        border-radius: 10px;
        a {
            color: $white;
            font-size: 1.3em;
            transition: 0.3s all ease;
            &:hover {
                transform: translateX(5px);
                text-decoration: underline;
            }
        }
    }

    .show-links {
        transform: translate(100px, 100px) rotate(0deg);
    }

    .hide-links {
        transform: translate(-200px, 100px) rotate(90deg);
    }
}


// Skill Card Component
.project-preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto;
    align-items: center;

    color: $black;
    @include card-style();
    span {
        grid-row: 1/2;
        place-self: center;
    }
    h2 {
        grid-row: 2/3;
        text-align: center;
    }
    p {
        grid-row: 3/4;
    }
}

// Profile Card Component
.profile-card {
    
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 180px;
    grid-gap: 0 20px;
    gap: 0 20px;
    justify-content: center;
    align-items: center;
    background-color: $white;
    border-radius: 20px;
    width: 80%;
    padding: 0px 10px;
    place-self: center;
    font-size: 1.3em;
    .pic {
        span {
            align-self: center;
        }
        img {
            border-radius: 50%;
            align-self: center;
        }
    }

    .heading {
        display: flex;
        flex-direction: column;
        align-items: center;
        .subheading {
            display: flex;
            gap: 10px;
            i {
                color: $blue;
            }
        }
    }
}

// Media query
@media only screen and (max-width: 1100px) {
    .profile-card {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, 1fr);
        align-items: center;
        justify-items: center;
    }
}