.nav-component {
    position: absolute;
    width: 150px;
    height: 150px;
    transform: translate(-80px, -80px);
    transition: 0.5s all ease;

    border-radius: 50%;
    background-color: $gold;

    .toggleDiv {
        position: absolute;
        transition: 0.3s all ease;
        width: 150px;
        height: 150px;
        font-size: 2em;
        background-color: $gold;
        border-radius: 50%;
        
        i {
            position: absolute;
            transform: translate(90px, 85px);
        }
        
        &:hover {
            cursor: pointer;
            background-color: $white;
        }
    }

    .link-wrapper {
        transition: 0.5s all ease;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        gap: 20px;

        background-color: $white;
        padding: 10px;
        border-radius: 10px;
        a {
            color: $black;
            transition: 0.3s all ease;
            &:hover {
                color: $gray;
                transform: translateX(5px);
                text-decoration: underline;
            }
        }
    }

    .show-links {
        transform: translate(100px, 150px) rotate(0deg);
    }

    .hide-links {
        transform: translate(-100px, 150px) rotate(90deg);
    }
}

.project-preview {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 150px auto auto;
    align-items: center;

    background-color: $white;
    color: $black;
    box-shadow: inset 0px -15px 30px -20px $black;
    border-radius: 20px;
    padding: 10px;
    span {
        grid-row: 1/2;
        place-self: center;
    }
    h2 {
        grid-row: 2/3;
        text-align: center;
    }
    p {
        grid-row: 3/4;
    }
}