.index {
    nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
            text-decoration: none;
        }
    }

    .skills-heading {
        padding-top: 50px;
        text-align: center;
        color: $white;
    }

    .content {
        padding-top: 50px;
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit, 300px);
        justify-content: center;
        gap: 10%;
    }

    footer {

    }
}