.index {
    nav {
        display: flex;
        flex-direction: column;
        gap: 20px;
        a {
            text-decoration: none;
        }
    }

    .profile-info {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px;
        align-items: center;

        .skills-heading {
            color: $white;
            font-weight: 600;
        }
    }

    .skills-heading {
        text-align: center;
        color: $blue;
        font-size: 3em;
        font-family: $title-text;
        font-weight: 300;
        text-transform: uppercase;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        grid-template-rows: repeat(auto-fit, 300px);
        justify-content: center;
        gap: 10%;
    }

}

@media only screen and (max-width: 850px) {
    .index {
        .profile-info {
            grid-template-columns: 0.5fr;
            grid-template-rows: repeat(auto-fit, 150px);
            justify-content: center;
        }
        .content {
            gap: 2%;
        }
    }
}