.index {
    display: flex;
    flex-direction: column;
    gap: 5%;
    justify-content: space-between;

    .profile-info {
        padding-top: 20px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 180px;
        align-items: center;

        .skills-heading {
            color: $white;
            font-weight: 600;
        }
    }

    .skills-heading {
        text-align: center;
        color: $gold;
        font-size: 3em;
        font-family: $title-text;
        font-weight: 300;
        text-transform: uppercase;
    }

    .skills-subheading {
        text-align: center;
        color: $white;
        font-family: $title-text;
        font-weight: 300;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fit, 300px);
        justify-content: center;
        align-content: center;
        grid-gap: 80px;
        margin-bottom: 50px;
    }

    .footer-section {
        
    }

}

@media only screen and (max-width: 850px) {
    .index {
        .profile-info {
            grid-template-columns: 0.5fr;
            grid-template-rows: repeat(auto-fit, 150px);
            justify-content: center;
        }
    }
}