@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

$green: #0C4C2A;
$light-green: #12733F;
$black: #262626;
$gray: #8C8C8C;
$white: #E6E6E6;
$blue: #00A4B3;

$title-text: 'Gulzar', serif;

@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $black;
    font-family: 'Gowun Dodum', sans-serif;
}

@import "bootstrap-icons/font/bootstrap-icons.scss";

@import './index.scss';
@import './components.scss';