// Font Styles Imports
@import url('https://fonts.googleapis.com/css2?family=Gulzar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');

// Bootstrap Icon import
@import "bootstrap-icons/font/bootstrap-icons.scss";

// Variables && Mixins import
@import './variables.scss';
@import './mixins.scss';

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: $black;
    font-family: $sans-text;
}

// Page Styles
@import './index.scss';

// Component Styles
@import './components/nav.scss';
@import './components/footer.scss';
@import './components/skill-card.scss';
@import './components/profile-card.scss';
@import './components/social-link.scss';