$green: #0C4C2A;
$light-green: #12733F;
$black: #262626;
$gray: #8C8C8C;
$white: #E6E6E6;
$blue: #00A4B3;
$red: #A20901;
$gold: #DBA400;

$title-text: "Fustat", sans-serif;
$sans-text: "Arsenal SC", sans-serif;